.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("file:///Users/mertsaday/Desktop/1579461169_preview_Recent%20Best.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }